<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>💘</string>
	</dict>
	<dict>
		<key>image</key>
		<string>❤</string>
	</dict>
	<dict>
		<key>image</key>
		<string>💓</string>
	</dict>
	<dict>
		<key>image</key>
		<string>💔</string>
	</dict>
	<dict>
		<key>image</key>
		<string>💕</string>
	</dict>
	<dict>
		<key>image</key>
		<string>💖</string>
	</dict>
	<dict>
		<key>image</key>
		<string>💗</string>
	</dict>
	<dict>
		<key>image</key>
		<string>💙</string>
	</dict>
	<dict>
		<key>image</key>
		<string>💚</string>
	</dict>
	<dict>
		<key>image</key>
		<string>💛</string>
	</dict>
	<dict>
		<key>image</key>
		<string>💜</string>
	</dict>
	<dict>
		<key>image</key>
		<string>💝</string>
	</dict>
	<dict>
		<key>image</key>
		<string>💞</string>
	</dict>
	<dict>
		<key>image</key>
		<string>💟</string>
	</dict>
	<dict>
		<key>image</key>
		<string>❣</string>
	</dict>
	<dict>
		<key>image</key>
		<string>💤</string>
	</dict>
	<dict>
		<key>image</key>
		<string>💢</string>
	</dict>
	<dict>
		<key>image</key>
		<string>💬</string>
	</dict>
	<dict>
		<key>image</key>
		<string>💭</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🗯</string>
	</dict>
	<dict>
		<key>image</key>
		<string>💮</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🛐</string>
	</dict>
	<dict>
		<key>image</key>
		<string>♨</string>
	</dict>
	<dict>
		<key>image</key>
		<string>💈</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🚳</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🔱</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🏧</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🚮</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🚫</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🚭</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🚯</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🚰</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🚱</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🚷</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🚸</string>
	</dict>
	<dict>
		<key>image</key>
		<string>♿</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🚹</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🚺</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🚻</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🚼</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🚾</string>
	</dict>
	<dict>
		<key>image</key>
		<string>⚠</string>
	</dict>
	<dict>
		<key>image</key>
		<string>⛔</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🕛</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🕧</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🕐</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🕜</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🕑</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🕝</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🕒</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🕞</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🕓</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🕟</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🕔</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🕠</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🕕</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🕡</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🕖</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🕢</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🕗</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🕣</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🕘</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🕤</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🕙</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🕥</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🕚</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🕦</string>
	</dict>
	<dict>
		<key>image</key>
		<string>♈</string>
	</dict>
	<dict>
		<key>image</key>
		<string>♉</string>
	</dict>
	<dict>
		<key>image</key>
		<string>♊</string>
	</dict>
	<dict>
		<key>image</key>
		<string>♋</string>
	</dict>
	<dict>
		<key>image</key>
		<string>♌</string>
	</dict>
	<dict>
		<key>image</key>
		<string>♍</string>
	</dict>
	<dict>
		<key>image</key>
		<string>♎</string>
	</dict>
	<dict>
		<key>image</key>
		<string>♏</string>
	</dict>
	<dict>
		<key>image</key>
		<string>♐</string>
	</dict>
	<dict>
		<key>image</key>
		<string>♑</string>
	</dict>
	<dict>
		<key>image</key>
		<string>♒</string>
	</dict>
	<dict>
		<key>image</key>
		<string>♓</string>
	</dict>
	<dict>
		<key>image</key>
		<string>⛎</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🌀</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🕎</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🎴</string>
	</dict>
	<dict>
		<key>image</key>
		<string>♠</string>
	</dict>
	<dict>
		<key>image</key>
		<string>♥</string>
	</dict>
	<dict>
		<key>image</key>
		<string>♦</string>
	</dict>
	<dict>
		<key>image</key>
		<string>♣</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🀄</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🔇</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🔈</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🔉</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🔊</string>
	</dict>
	<dict>
		<key>image</key>
		<string>📢</string>
	</dict>
	<dict>
		<key>image</key>
		<string>📣</string>
	</dict>
	<dict>
		<key>image</key>
		<string>📯</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🔔</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🔕</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🔀</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🔁</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🔂</string>
	</dict>
	<dict>
		<key>image</key>
		<string>▶</string>
	</dict>
	<dict>
		<key>image</key>
		<string>⏩</string>
	</dict>
	<dict>
		<key>image</key>
		<string>◀</string>
	</dict>
	<dict>
		<key>image</key>
		<string>⏪</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🔼</string>
	</dict>
	<dict>
		<key>image</key>
		<string>⏫</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🔽</string>
	</dict>
	<dict>
		<key>image</key>
		<string>⏬</string>
	</dict>
	<dict>
		<key>image</key>
		<string>⏹</string>
	</dict>
	<dict>
		<key>image</key>
		<string>📳</string>
	</dict>
	<dict>
		<key>image</key>
		<string>📴</string>
	</dict>
	<dict>
		<key>image</key>
		<string>#⃣</string>
	</dict>
	<dict>
		<key>image</key>
		<string>0⃣</string>
	</dict>
	<dict>
		<key>image</key>
		<string>1⃣</string>
	</dict>
	<dict>
		<key>image</key>
		<string>2⃣</string>
	</dict>
	<dict>
		<key>image</key>
		<string>3⃣</string>
	</dict>
	<dict>
		<key>image</key>
		<string>4⃣</string>
	</dict>
	<dict>
		<key>image</key>
		<string>5⃣</string>
	</dict>
	<dict>
		<key>image</key>
		<string>6⃣</string>
	</dict>
	<dict>
		<key>image</key>
		<string>7⃣</string>
	</dict>
	<dict>
		<key>image</key>
		<string>8⃣</string>
	</dict>
	<dict>
		<key>image</key>
		<string>9⃣</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🔟</string>
	</dict>
	<dict>
		<key>image</key>
		<string>📶</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🎦</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🔅</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🔆</string>
	</dict>
	<dict>
		<key>image</key>
		<string>⬆</string>
	</dict>
	<dict>
		<key>image</key>
		<string>↗</string>
	</dict>
	<dict>
		<key>image</key>
		<string>➡</string>
	</dict>
	<dict>
		<key>image</key>
		<string>↘</string>
	</dict>
	<dict>
		<key>image</key>
		<string>⬇</string>
	</dict>
	<dict>
		<key>image</key>
		<string>↙</string>
	</dict>
	<dict>
		<key>image</key>
		<string>⬅</string>
	</dict>
	<dict>
		<key>image</key>
		<string>↖</string>
	</dict>
	<dict>
		<key>image</key>
		<string>↕</string>
	</dict>
	<dict>
		<key>image</key>
		<string>↔</string>
	</dict>
	<dict>
		<key>image</key>
		<string>↩</string>
	</dict>
	<dict>
		<key>image</key>
		<string>↪</string>
	</dict>
	<dict>
		<key>image</key>
		<string>⤴</string>
	</dict>
	<dict>
		<key>image</key>
		<string>⤵</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🔃</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🔄</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🔙</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🔚</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🔛</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🔜</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🔝</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🔰</string>
	</dict>
	<dict>
		<key>image</key>
		<string>⚛</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🕉</string>
	</dict>
	<dict>
		<key>image</key>
		<string>✡</string>
	</dict>
	<dict>
		<key>image</key>
		<string>☸</string>
	</dict>
	<dict>
		<key>image</key>
		<string>☯</string>
	</dict>
	<dict>
		<key>image</key>
		<string>✝</string>
	</dict>
	<dict>
		<key>image</key>
		<string>☦</string>
	</dict>
	<dict>
		<key>image</key>
		<string>☪</string>
	</dict>
	<dict>
		<key>image</key>
		<string>☮</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🔯</string>
	</dict>
	<dict>
		<key>image</key>
		<string>♻</string>
	</dict>
	<dict>
		<key>image</key>
		<string>☢</string>
	</dict>
	<dict>
		<key>image</key>
		<string>☣</string>
	</dict>
	<dict>
		<key>image</key>
		<string>⭕</string>
	</dict>
	<dict>
		<key>image</key>
		<string>✅</string>
	</dict>
	<dict>
		<key>image</key>
		<string>☑</string>
	</dict>
	<dict>
		<key>image</key>
		<string>✔</string>
	</dict>
	<dict>
		<key>image</key>
		<string>✖</string>
	</dict>
	<dict>
		<key>image</key>
		<string>❌</string>
	</dict>
	<dict>
		<key>image</key>
		<string>❎</string>
	</dict>
	<dict>
		<key>image</key>
		<string>➕</string>
	</dict>
	<dict>
		<key>image</key>
		<string>➖</string>
	</dict>
	<dict>
		<key>image</key>
		<string>➗</string>
	</dict>
	<dict>
		<key>image</key>
		<string>➰</string>
	</dict>
	<dict>
		<key>image</key>
		<string>➿</string>
	</dict>
	<dict>
		<key>image</key>
		<string>〽</string>
	</dict>
	<dict>
		<key>image</key>
		<string>✳</string>
	</dict>
	<dict>
		<key>image</key>
		<string>✴</string>
	</dict>
	<dict>
		<key>image</key>
		<string>❇</string>
	</dict>
	<dict>
		<key>image</key>
		<string>‼</string>
	</dict>
	<dict>
		<key>image</key>
		<string>⁉</string>
	</dict>
	<dict>
		<key>image</key>
		<string>❓</string>
	</dict>
	<dict>
		<key>image</key>
		<string>❔</string>
	</dict>
	<dict>
		<key>image</key>
		<string>❕</string>
	</dict>
	<dict>
		<key>image</key>
		<string>❗</string>
	</dict>
	<dict>
		<key>image</key>
		<string>©</string>
	</dict>
	<dict>
		<key>image</key>
		<string>®</string>
	</dict>
	<dict>
		<key>image</key>
		<string>™</string>
	</dict>
	<dict>
		<key>image</key>
		<string>💯</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🔞</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🔠</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🔡</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🔢</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🔣</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🔤</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🅰</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🆎</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🅱</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🆑</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🆒</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🆓</string>
	</dict>
	<dict>
		<key>image</key>
		<string>ℹ</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🆔</string>
	</dict>
	<dict>
		<key>image</key>
		<string>Ⓜ</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🆕</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🆖</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🅾</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🆗</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🅿</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🆘</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🆙</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🆚</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🈁</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🈂</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🈷</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🈶</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🈯</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🉐</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🈹</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🈚</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🈲</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🉑</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🈸</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🈴</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🈳</string>
	</dict>
	<dict>
		<key>image</key>
		<string>㊗</string>
	</dict>
	<dict>
		<key>image</key>
		<string>㊙</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🈺</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🈵</string>
	</dict>
	<dict>
		<key>image</key>
		<string>▪</string>
	</dict>
	<dict>
		<key>image</key>
		<string>▫</string>
	</dict>
	<dict>
		<key>image</key>
		<string>◻</string>
	</dict>
	<dict>
		<key>image</key>
		<string>◼</string>
	</dict>
	<dict>
		<key>image</key>
		<string>◽</string>
	</dict>
	<dict>
		<key>image</key>
		<string>◾</string>
	</dict>
	<dict>
		<key>image</key>
		<string>⬛</string>
	</dict>
	<dict>
		<key>image</key>
		<string>⬜</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🔶</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🔷</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🔸</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🔹</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🔺</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🔻</string>
	</dict>
	<dict>
		<key>image</key>
		<string>💠</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🔲</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🔳</string>
	</dict>
	<dict>
		<key>image</key>
		<string>⚪</string>
	</dict>
	<dict>
		<key>image</key>
		<string>⚫</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🔴</string>
	</dict>
	<dict>
		<key>image</key>
		<string>🔵</string>
	</dict>
	<dict>
		<key>image</key>
		<string>👁‍🗨</string>
	</dict>
</array>
</plist>
